nav {
    background-color: #0d6efd;
    height: 72px;
  
    .float-left {
      float: left;
    }
  
    .display-flex-end {
      display: flex;
      justify-content: flex-end;
    }

    .list-item {
      margin-right: 50px; /* Ajuste o valor de acordo com o espaçamento desejado */
    }
  
    @media screen and (min-width: 375px) {
      ul {
        flex-direction: column;
      }
    }
  
    @media screen and (min-width: 1140px) {
      ul {
        flex-direction: row;
      }
    }

    po-link {
      --text-color: #ffffff;
      }
  
    li {
      list-style: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  
    a:hover {
      color: white;
      cursor: pointer;
    }
  }