
<h1>Continue seu cadastro!</h1>
<form [formGroup]="form">
  <div>
    <po-input name="input" formControlName="name" p-placeholder="Nome"> </po-input>
  </div>

  <div>
    <po-input name="input" formControlName="email" p-placeholder="Email"> </po-input>
  </div>

  <div>
    <po-number name="number" formControlName="age" p-placeholder="idade"> </po-number>
  </div>
  <po-divider></po-divider>

  <div class="image-block">

  <!-- <po-image [p-src]="isDefault ? isDefaultImage : preview" class="circle" ></po-image> -->
  <po-avatar [p-src]="isDefault ? isDefaultImage : preview" p-size="lg"> </po-avatar>


  </div>

  <label for="basic-url">Adicione uma foto ao perfil</label>
  <div class="input-group mb-3">
   <input type="file" class="form-control" aria-label="imgProfile" aria-describedby="imgProfile"
   (change)="onChange($event)" />
  </div>

  <div>
    <po-password name="password" formControlName="password" p-placeholder="Senha"> </po-password>
  </div>

  <div>
    <po-password name="confirmPassword" formControlName="confirmPassword"  p-placeholder="Confirme sua senha">
    </po-password>
    <br />
    <div>
      <p class="warn">As senhas não são iguais!!</p>
    </div>
  </div>

  <div class="">
    <po-button class="d-grid gap-2" p-label="FINALIZAR CADASTRO"> </po-button>
  </div>
</form>

